.text{
    height: 100px;
}

#menubar > ul{
  list-style: none;
  padding-left: 0px;
}


#menubar > ul > li{
  display: inline;
  margin: 0 16px 0 0;
  padding: 4px;
  border: 1px solid #666666;
  border-radius: 8px;
  background: #fff;
}



a{
  text-decoration: none;
  color: blue;
}

